&__img-list {
  display: none;
  gap: 24px;

  @include mb-up($md) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  @include mb-up($xxl) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: unset;
  }

  //import section
  @import '_active/photography__img-list_active';
}