.projects {

  padding-top: 64px;
  padding-bottom: 70px;

  @include mb-up($md) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include mb-up($xxl) {
    padding-top: 120px;
    padding-bottom: 153px;
  }

  
  //import section
  @import '__img/projects__img';
  @import '__card-description/projects__card-description';
  @import '__view-all-link/projects__view-all-link';
  @import '__view-all/projects__view-all';
  @import '__wrap/projects__wrap';
  @import '__card-text/projects__card-text';
  @import '__card/projects__card';
  @import '__heading/projects__heading';
  @import '__subheading/projects__subheading';
}