&__img {
  display: block;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: 100%;

  @include mb-up($md) {
    object-fit: cover;
    height: 650px;
  }



  //import section

}