
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: min(#{$pcSize + px}, calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})));
}