
$maxWidth: 1400;

$base: #000000;
$level1: #181823;
$lightGrey: #8491A0;
$darkGrey: #5B6876;
$text: #FFFFFF;
$text80: rgba(255, 255, 255, 0.8);
$primary: #5221E6;
$greenAccent: #3CC74E;
$pinkAccent: #E95D90;
$peachAccent: #FFF3E4;
$violetAccent: #FBE4FF;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);

