.dribbble {

  padding: 64px 0;

  @include mb-up($md) {
    padding: 80px 0;
  }
  @include mb-up($xxl) {
    padding: 120px 0;
  }
  

  //import section
  @import '__tab-bar-circle/dribbble__tab-bar-circle';
  @import '__screen/dribbble__screen';
  @import '__img/dribbble__img';
  @import '__img-container/dribbble__img-container';
  @import '__tab-bar/dribbble__tab-bar';
  @import '__text-content/dribbble__text-content';
  @import '__description/dribbble__description';
  @import '__heading/dribbble__heading';
  @import '__wrap/dribbble__wrap';
}