&__text-content {

  padding: 48px 20px;
  min-height: 450px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mb-up($md) {
    padding: 80px 40px;
    min-height: 600px;
  }

  @include mb-up($xxl) {
    padding: 120px 72px;
  }
  
  //import section
}