
- 
  headerNav = [
    {
      "item": "Experience",
      "url": "#work-experience",
    },
    {
      "item": "Work",
      "url": "#projects",
    },
    {
      "item": "Photography",
      "url": "#photography",
    },
    {
      "item": "Contact",
      "url": "#contact",
    },
    
  ]

header.header
  .container
    .header__body 
      a.header__logo(href="#")
        img(src="img/svg/logo.svg" alt="logo")
      .header__burger
      nav.header__menu 
        ul.header__list 
          each elem in headerNav
            li.header__nav-elem
              a.header__link.text-body-2.text-body-2_color_white(href=elem.url)= elem.item
