&__view-all-link {
  display: block;
  padding: 24px 32px;
  border: 1px solid $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline $primary;
    //transition: text-decoration 0.5s ease ;
  }

  //import section
}