&__card {
  background-color: $level1;
  margin-bottom: 48px;

  @include mb-up($md) {
    margin-bottom: 48px;
    //max-height: 830px;
  }
  @include mb-up($xxl) {
    margin-bottom: 24px;
    break-inside: avoid;
  }
  //import section
}