&__img-container {

  margin-bottom: 48px;

  @include mb-up($md) {
    display: block;
    flex: 0 1 50%;
    margin-bottom: 0;
  }
  @include mb-up($xxl) {
    transform: translateX(24px);
    flex: 0 0 750px;
    position: relative;
    z-index: 2;
  }

  //import section
}