&__cards {
  display: flex;
  flex-direction: column;
  gap: 48px 0;

  @include mb-up($md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 24px;
  }

  //import section
}