extends ../layouts/default
include ../helpers/mixins

block variables
  - const title = "Robin.W";
  -
    workExp = [
      {
        "company": "Google",
        "position": "Interaction Designer",
        "accentColorStyle": "accent_color_green",
        "description": "I currently am the lead designer on the interaction design team for Google Play."
      },
      {
        "company": "Facebook",
        "position": "Product Designer",
        "accentColorStyle": "accent_color_blue",
        "description": "I’ve worked on a wide variety of internal tools for facebook over the past 6 years."
      },
      {
        "company": "Dribbble",
        "position": "Graphic Designer",
        "accentColorStyle": "accent_color_pink",
        "description": "I started my design career with Dribbble. I was incharge of creating illustrations for the platform."
      },
    ]
  - 
    footerLinks = [
      {
        "name": "Home",
        "url": "#",
      },
      {
        "name": "About",
        "url": "#",
      },
      {
        "name": "Work",
        "url": "#",
      },
      {
        "name": "Process",
        "url": "#",
      },
      {
        "name": "Store",
        "url": "#",
      },
      {
        "name": "Blog",
        "url": "#",
      },
      {
        "name": "Reading List",
        "url": "#",
      },
      
    ]

block content
  .main-page 
    include ../../blocks/modules/header/header
    .main-page__annotation
      .annotation
        .annotation__img-container
          picture
            source(media="(min-width: 768px)" srcset="img/person.webp 750w" sizes="750px" type="image/webp")
            source(srcset="img/annotation-person_750-650.webp" type="image/webp")
            img.annotation__img(src="img/person.jpg" width="750" height="650" alt="annotation-person")

        .annotation__body
          .annotation__heading 
            //h1.h1 I’m&nbsp;Robin Williams.<br />A&nbsp;Product Designer based&nbsp;in&nbsp;Italy.
            h1.h1 I’m Robin Williams. A Product Designer #[span.accent.accent_color_light-grey based in Italy.]
          .annotation__description
            p.text-body-1 I’m probably the most passionate designer you will ever get to work with. If you have a great project that needs some amazing skills, I’m your guy.

    .main-page__experience
      .experience
        .container
          .experience__subheading
            p.overline work experience
          .experience__heading 
            h2.h2 Companies I have worked for in the past
          ol.experience__cards
            each elem in workExp
              li.experience__card 
                .experience__position
                  h3.h3 #[span.accent(class=elem.accentColorStyle)= elem.company], #{elem.position}
                .experience__description 
                  p.text-body-2= elem.description


    .main-page__values
      .values 
        .values__container
          .values__text-content
            .values__heading 
              h2.h2.h2_color_level-1 Philosophy & values
            .values__description 
              p.text-body-1.text-body-1_color_dark-grey I think everyone wants the same thing - relationship with humanity, peace with the metaphysical, and experience with the universe. I try to grasp these things with my values: authenticity, creativity, & hospitality.
            a.values__link.text-body-2.text-body-2_color_level-1(href="#") More about me
          .values__img-container
            picture
              source(srcset="img/values-sphere.webp" type="image/webp")
              img.values__img(src="img/values-sphere.jpeg" alt="")


    .main-page__footer
      footer.footer 
        .container
          .footer__main-content
            .footer__logo-social
              a.footer__logo-wrap(href="#")
                img.footer__logo(src="img/svg/logo.svg" alt="logo")
              .footer__social-wrap
                a.footer__social(href="#")
                  img(src="img/svg/twitter.svg" alt="link to twitter")
                a.footer__social(href="#")
                  img(src="img/svg/dribbble.svg" alt="link to dribbble")
                a.footer__social(href="#")
                  img(src="img/svg/linkedin.svg" alt="link to linkedin")
            .footer__links-wrap
              ul.footer__links-list
                each elem in footerLinks 
                  li.footer__links-item
                    a.footer__link.text-body-2.text-body-2_color_white(href=elem.url)= elem.name

          .footer__copyright
            p Not Copyright 2020 • Robin Williams. Webflow cloneable
              

block scripts
  //script(src="js/vendor.js")
  script(src="js/main.js")