extends ../layouts/default
include ../helpers/mixins

block variables
  - const title = "Robin.W";
  -
    workExp = [
      {
        "company": "Google",
        "position": "Interaction Designer",
        "accentColorStyle": "accent_color_green",
        "description": "I currently am the lead designer on the interaction design team for Google Play."
      },
      {
        "company": "Facebook",
        "position": "Product Designer",
        "accentColorStyle": "accent_color_blue",
        "description": "I’ve worked on a wide variety of internal tools for facebook over the past 6 years."
      },
      {
        "company": "Dribbble",
        "position": "Graphic Designer",
        "accentColorStyle": "accent_color_pink",
        "description": "I started my design career with Dribbble. I was incharge of creating illustrations for the platform."
      },
    ]

block content
  .main-page 
    include ../../blocks/modules/header/header
    .main-page__annotation
      .annotation
        
        picture.annotation__img-container
          //source(srcset="img/annotation-person_750-650.webp 750w" sizes="750px" type="image/webp")
          //img.annotation__img(src="img/annotation-person_750-650.jpg" width="750" height="650" alt="annotation-person")
          img.annotation__img(src="img/person.jpg" width="750" height="650" alt="annotation-person")

        .annotation__body
          .annotation__heading 
            h1.h1 I’m&nbsp;Robin Williams.<br />A&nbsp;Product Designer based&nbsp;in&nbsp;Italy.
          .annotation__description
            p.text-body-1 I’m probably the most passionate designer you will ever get to work with. If you have a great project that needs some amazing skills, I’m your guy.

    .main-page__experience
      .experience
        .my-container
          .experience__subheading
            p.overline work experience
          .experience__heading 
            h2.h2 Companies I have worked for in the past
          ol.experience__cards
            each elem in workExp
              li.experience__card 
                .experience__position
                  h3.h3 #[span.accent(class=elem.accentColorStyle)= elem.company], #{elem.position}
                .experience__description 
                  p.text-body-2= elem.description



block scripts
  //script(src="js/vendor.js")
  script(src="js/main.js")