extends ../layouts/default
include ../helpers/mixins

block variables
  - const title = "test"

block content

  .test-page 
    //- .test-page__img-conteiner 
    //-   img.test-page__img(src="img/annotation-person_360-288.jpg" width="360" height="288", alt="")

    picture.test-page__img-conteiner
      source(media="(min-width: 768px)" srcset="img/annotation-person_750-650.webp 750w" sizes="750px" type="image/webp")
      source(media="(max-width: 768px)" srcset="img/annotation-person_360-288.webp 360w" sizes="360px" type="image/webp")
      img.test-page__img(src="img/annotation-person_360-288.jpg" width="750" height="650" alt="annotation-person")
    .test-page__text-conteiner 
      p.test-page__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit explicabo minus repellendus numquam exercitationem corporis ratione asperiores eius voluptates nobis?

block scripts
  //- script(src="js/vendor.js")
  //- script(src="js/main.js")