.skillset {
  padding: 64px 0;

  @include mb-up($md) {
    padding: 80px 0;
  }
  @include mb-up($xxl) {
    padding: 120px 0;
  }


  //import section
  @import '__title/skillset__title';
  @import '__description/skillset__description';
  @import '__card-text/skillset__card-text';
  @import '__card-title/skillset__card-title';
  @import '__card-logo/skillset__card-logo';
  @import '__card/skillset__card';
  @import '__cards/skillset__cards';
  @import '__text/skillset__text';
  @import '__wrap/skillset__wrap';
}