&__wrap {
  max-width: 732px;
  margin: 0 auto;
  padding: 120px 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;

  @include mb-up($sm) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mb-up($md) {
    grid-template-columns: repeat(4, 1fr);
  }

}