&__gallery-btns {

  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  margin-bottom: 40px;

  @include mb-up($md) {
    display: flex;
    gap: 0 24px;
  }

  //import section
}