.experience {

  padding: 48px 0;

  @include mb-up($md) {
    padding-top: 80px;
    padding-bottom: 104px;
  }

  @include mb-up($xxl) {
    padding: 120px 0;
  }

  //import section
  @import '__position/experience__position';
  @import '__card/experience__card';
  @import '__cards/experience__cards';
  @import '__heading/experience__heading';
  @import '__subheading/experience__subheading';
}