&__body {

  padding-left: 20px;
  padding-right: 20px;

  @include mb-up($md) {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    z-index: 1;
    transform: translateX(-64px);

    flex: 0 1 50%;

  }
  @include mb-up($xxl) {
    //transform: translateX(-64px);
    flex: 0 0 738px;
    z-index: 3;
  }
  //import section
}