.values {

  background-color: $peachAccent;

  @include mb-up($md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }

  //import section
  @import '__img-container/values__img-container';
  @import '__img/values__img';
  @import '__link/values__link';
  @import '__description/values__description';
  @import '__heading/values__heading';
  @import '__text-content/values__text-content';
}