&__input {
  background-color: $level1;
  border: unset;
  line-height: 3;
  display: block;
  width: 100%;
  padding: 0 15px;
  resize: none;

  &:focus {
    outline: unset;
  }
  //import section
}