.text-body-1 {
  font-family: 'Sen', sans-serif;
  @include adaptiv-font(18, 18);
  color: $text;

  margin-bottom: 0;

  //import section
  @import '_color_light-grey/text-body-1_color_light-grey';
  @import "_color_dark-grey/text-body-1_color_dark-grey";
  @import "_alpha_80/text-body-1_alpha_80";
}