&__links-list {

  list-style-type: none;

  @include mb-up($md) {
    column-count: 2;
    gap: 0 25px;
    padding-left: 12px;
  }
  @include mb-up($xxl) {
    column-count: 2;
    gap: 0;
    padding-left: 122px;
    padding-right: 86px;
  }

  //import section
}