&__img {
  display: block;
  //width: 100%;
  // max-width: 100%;
  // height: auto;
  // max-width: 100%;
  // max-height: 100%;

  //import section

  // @include media-breakpoint-down(md) {
  //   max-width: 100%;
  //   height: auto;
  // }
  @include mb-up($md) {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    //height: initial;
    // max-width: initial;
  }


}