@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sen'),
       url(../../fonts/Sen-Regular.woff2) format('woff2'),
       url(../../fonts/Sen-Regular.woff) format('woff'),
       url(../../fonts/Sen-Regular.ttf) format('truetype'),
       url(../../fonts/Sen-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Sen'),
       url(../../fonts/Sen-Bold.woff2) format('woff2'),
       url(../../fonts/Sen-Bold.woff) format('woff'),
       url(../../fonts/Sen-Bold.ttf) format('truetype'),
       url(../../fonts/Sen-Bold.otf) format('opentype');
}