* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
    padding: 0;
}
html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-family: 'Sen', sans-serif;
  line-height: 1.5;
  color: $lightGrey;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container,
.container-sm {
  //width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@include mb-up($md) {
  .container,
  .container-sm {
    max-width: 100%;
    padding: 0 40px;
  }
}

@include mb-up($xxl) {
  .container {
    max-width: 1376px;
  }
  .container-sm {
    max-width: 1156px;
  }
}
